html {
  font-size: 14px; }

body {
  color: #222222;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a,
button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.navbar {
  background-color: #222222;
  color: white; }

.navbar-menu {
  background-color: #222222; }

.navbar-item {
  text-transform: uppercase;
  font-weight: 700;
  color: inherit; }

section:last-child {
  padding-bottom: 64px; }

.footer {
  background-color: #222222;
  color: white;
  position: relative;
  padding: 1rem .75rem;
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-text {
  line-height: 36px; }

.footer-social {
  text-align: right;
  font-size: 24px; }
  .footer-social a {
    margin-left: 10px;
    color: white; }

.button {
  text-transform: uppercase;
  font-weight: 700; }

.button-default {
  color: white;
  background-color: #222222;
  border-color: #222222; }

.button-hero {
  width: 320px;
  margin-top: 6rem; }

.hero {
  background-color: #222222; }

.hero-body {
  text-align: center; }

.video-container {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%; }
