@import "variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  color: $color-default;
  font-family: $font-sans;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  position: relative;
  &.has-navbar-fixed-top {
    padding-top: 3.25rem;
  }
}

a,
button {
  @include transition-default;
}

a {
  color: $color-aqua;
  &:hover {
    color: $color-gold;
  }
}

h1 {
  font-size: 3.502rem !important;
  font-family: $font-serif;
}

h2 {
  font-size: 3.502rem !important;
  font-family: $font-serif;
}

h3 {
  font-size: 2.369rem !important;
}

h4 {
  font-size: 1rem !important;
}

.content {
  h1, h2 {
    font-weight: 400;
  }
  ul {
    margin-left: 1em;
    list-style-type: circle;
  }
}

nav a {
  &:hover {
    color: $color-gold !important;
  }
}

.navbar {
  background-color: $color-default;
  color: white;
}

.navbar-menu {
  background-color: $color-default;
}

.navbar-item {
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}

section {
  &:last-child {
    padding-bottom: 64px;
  }
}

.footer {
  background-color: $color-default;
  color: white;
  position: relative;
  padding: 1rem .75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  line-height: 36px;
}

.footer-social {
  font-size: 24px;
  a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      color: $color-gold;
    }
  }
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  @include transition-default;
}

.button-default {
  color: white;
  background-color: $color-default;
  border-color: $color-default;
  &:hover,
  &.active {
    background-color: $color-aqua;
  }
}

.button-default-o {
  color: $color-default;
  background-color: transparent;
  border-color: $color-default;
  &:hover,
  &.active {
    color: white;
    background-color: $color-default;
  }
}

.button-hero {
  width: 320px;
  margin-top: 6rem;
}

.hero {
  background-color: $color-default;
}

.hero-body {
  text-align: center;
}

.video-container {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.about-image {
  img {
    width: 100%;
  }
}

.about-image-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.about-content {
  padding-left: .75rem;
  padding-right: .75rem;
  padding-bottom: 2em;
  h1 {
    text-align: center;
  }
}

ul.album-list {
  > li {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.album-image,
.album-content {
  float: left;
  width: 100%;
}

.album-image {
  img {
    width: 100%;
    display: block;
  }
}

.album-content {
  .content {
    h2 {
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}

.section-photo {
  text-align: center;
}

.photo-list {
  .column {
    padding: 0;
  }
}

.photo-image {
  display: block;
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  img {
    max-width: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.section-video {
  h1 {
    text-align: center;
  }
}

.video-list {
  max-width: 1152px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .column {
    padding: 0;
  }
}

.video-content {
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.section-merch {
  h1 {
    text-align: center;
  }
}

.merch-buttons {
  text-align: center;
}

.merch-item {
  display: none;
  &.show {
    display: block;
  }
}

.section-tourdates {
  h1 {
    text-align: center;
  }
}

.tourdates-table {
  min-width: 100%;
}

@media only screen and (max-width: 768px) {
  .about-image-cover {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .footer-text {
    text-align: left;
  }

  .footer-social {
    text-align: right;
    a {
      margin-right: 0;
    }
  }

  .about-image {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      display: none;
    }
  }

  .about-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }

  ul.album-list {
    > li {
      &:nth-child(2n) {
        .album-image {
          float: right;
        }
      }
    }
  }

  .album-image,
  .album-content {
    width: 50%;
  }

  .album-content {
    .content {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
    }
  }
}